<h1>Contact Form Recieved</h1>
<table cellspacing="0" width="500px" height="100px" style="border-style: solid; border-width: 4px; border-radius: 5px; border-color: #ff9e3d;">
    <tr height="40%">
        <th width="50%" style="border-style: solid; border-width: 0 1px 1px 0px; border-color: #ff9e3d;">
            <p>Username</p>
        </th>
        <th width="50%" style="border-style: solid; border-width: 0 0px 1px 1px; border-color: #ff9e3d;">
            <p>Email</p>
        </th>
    </tr>
    <tr height="60%">
        <td width="50%" style="border-style: solid; border-width: 1px 1px 0px 0px; border-color: #ff9e3d;">
            <p align="center"><i>{{ emailformusername }}</i></p>
        </th>
        <td width="50%" style="border-style: solid; border-width: 1px 0px 0px 1px; border-color: #ff9e3d;">
            <p align="center"><i>{{ emailformemail }}</i></p>
        </th>
    </tr>
</table>
<br><br>
<h2>Message:</h2>
<i>{{ emailformmessage }}</i>